<h3>Total Fire Nation Member Count: <%= @count %></h3>
<% @characters.each do |character| %>
<div class="character">
  <% if !character.photo.nil? %>
    <img src="<%= character.photo %>">
  <% end %>
  <h4><%= character.name %><h4>
  <p>Allies: </p>
  <% if character.allies == [] %>
    <li><%= "None" %></li>
  <% else %>
    <% character.allies.each do |ally| %>
      <li><%= ally %></li>
    <% end %>
  <% end %>
  <p>Enemies: </p>
  <% if character.enemies == [] %>
    <li><%= "None" %></li>
  <% else %>
    <% character.enemies.each do |enemy| %>
      <li><%= enemy %></li>
    <% end %>
  <% end %>
  <p>Affiliations: <%= character.affiliations %></p>
</div>
<% end %>
